/*-----Login Screen-----*/

/*--Desktop--*/
.RootDiv
{
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	position:absolute;
	top:0px;
	right:0px;
	bottom:0px;
	left:0px;
}

/*Image*/
.Image
{
	width: auto;
	height: auto;
}

/*Input Container*/
.InputContainer
{
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}

/*Input Fields*/
.InputContainer input
{
	margin: 10px;
	padding: 15px;
	border-radius: 10px;
	border: 0.5px solid #8ee4da;
	font-size: 20px;
	outline: none;
	box-shadow: 0 1px 1px rgba(0,0,0,0.15);
	transition: box-shadow 0.3s ease-in-out;
}

.InputContainer input:hover 
{
	box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.InputContainer input:focus 
{
	box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

/*Login button*/
.InputContainer button
{
	border-radius: 10px;
	border: 0.5px solid #8ee4da;
	margin: 10px;
	padding: 15px;
	background-color: #8ee4da;
	opacity: 0.9;
	font-size: 15px;
	outline: none;
	box-shadow: 0 1px 1px rgba(0,0,0,0.15);
	transition: box-shadow 0.3s ease-in-out;
}

.InputContainer button:hover
{
	cursor: pointer;
	opacity: 1;	
	box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.InputContainer button:active
{
	animation: clicked 0.1s linear;
}


/*--Tablets--*/
@media (min-width: 768px) and (max-width: 1024px) 
{
	.Image
	{
		width: 600px;
		height: 600px;
	}
}

/*--Mobiles--*/
@media (min-width: 320px) and (max-width: 480px) 
{
	.Image
	{
		width: 310px;
		height: 310px;
	}	
}

@keyframes clicked 
{
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}