/*Desktop*/
@media (min-width: 500px)
{
	.NavigationItem
	{
		display: flex;
		margin: 0;
		height: 100%;
		width: auto;
		align-items: center;
	}
	
	.NavigationItem a
	{
		color: rgba(0,0,0,0.5);
		height: 100%;
		padding: 16px 10px;
	}
	
	.NavigationItem a:hover,
	.NavigationItem a:active
	{
		color:#4d4d4d;
	}
	.NavigationItem a.active
	{
		color:#4d4d4d;
		animation: clicked 0.2s linear;
	}
}

/*Mobile*/
.NavigationItem
{
	display: block;
	margin: 10px 0;
	box-sizing: border-box;
	width: 100%;
}
	
.NavigationItem a
{
	color: rgba(0,0,0,0.5);
	text-decoration: none;
	width: 100%;
	box-sizing: border-box;
	display: block;
}

.NavigationItem a:hover,
.NavigationItem a:active
{
	color:#4d4d4d;
}

.NavigationItem a.active
{
	color:#4d4d4d;
	animation: clicked 0.2s linear;
}


@keyframes clicked {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}