/*Image Tile Component*/
.ImagesContainerRoot
{
	display:flex; 
	width:100%; 
}

.ImageContainer
{
	position:relative;
	display:inline-grid;
	margin: 10px;
	cursor: pointer;
}



.ImageTile
{
	border-radius: 5px;	
}

.ImageContainer:hover .Overlay
{
	opacity: 1;
}



/*Masonry*/
.MasonryGrid 
{
	display: -webkit-box;
	display: -ms-flexbox; 
	display: flex;
	width: 100%;
	justify-content: center;
}

  
.MasonryGrid_column 
{
	display: flex;
	flex-flow: column;
	align-items: center;
	padding: 0px; 
	margin: 0px; 
	width: auto !important;
}

/*Image Modal Component*/
.ImageModalContainer
{ 
	/* display:flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%; */
	animation: fadeIn 0.3s ease-in;
	
	width: 600px;
	height: 600px;
	
		position: fixed;
		z-index: 500;
		/* width: 40%; */
		left: 50%;
		top: 50%;
		margin-top: -300px;
		margin-left: -300px;	

}

.ImageModalSubContainer
{
	display: flex;
	flex-flow: column;
	padding: 50px;
	background-color: white;
	border-radius: 10px;
}

.ImageModalSubContainer p
{
	text-align: center;
	color: #4d4d4d;
}

@keyframes fadeIn {
	0% {
	  opacity:0;
	}
	50% {
		opacity:0.6;
	  }
	100% {
	  opacity:1;
	}
  }



/*Overlay Component*/
.OverlayContainer
{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 5px;
}

.OverlayContainer p
{
	margin-left: 5px; 
	font-size: 16px;
	color: #999999
}

.OverlaySubContainer
{
	display: flex;
	align-items: center;
	justify-content: center;
}

.OverlayDiv
{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.Overlay 
{
	background-color: rgba(0, 0, 0, 0.6);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;

	transition: .3s ease;
	height: 15%;
	width: 100%;
	opacity: 0;
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: center;
}

/*Favorite Icon*/
.AddFavoriteIcon
{
	color: #999999;
	font-size: 30px;
}

.AddFavoriteIcon:hover
{
	cursor: pointer;
	color: #8ee4da;
}

.AddFavoriteIcon:active
{
	animation: clicked 0.2s linear;
}

.RemoveFavoriteIcon
{
	color: red;
	opacity: 1;
	font-size: 30px;
}

.RemoveFavoriteIcon:hover
{
	cursor: pointer;
	color: #E44236;
	opacity: 0.8;
}

.RemoveFavoriteIcon:active
{
	animation: clicked 0.2s linear;
}

@keyframes clicked {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}