/*Search Bar Component*/
.SearchBar
{
	display: flex;
	align-items: center;
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
}

.SearchBar input
{
	width: 100%;
	padding: 15px;
	padding-left: 60px;
	border-radius: 10px;
	border: 0.5px solid #8ee4da;
	font-size: 20px;
	outline: none;
	box-shadow: 0 1px 1px rgba(0,0,0,0.15);
	transition: box-shadow 0.3s ease-in-out;
}

.SearchBar input:hover 
{
	box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.SearchBar input:focus 
{
	box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

/*Search Bar - Search button*/
.Icon
{
	cursor: pointer;
	color:#4d4d4d;
	font-size: 30px;
	position: absolute;
	left: 21%;
	/* margin-right: -50px;
	margin-left: -60px; */
	z-index: 1;
}

.Icon:hover
{
	color:#8ee4da;
}

.Icon:active
{
	animation: clicked 0.2s linear;
}

/*Search Bar - Clear Button*/
.ClearIcon
{
	cursor: pointer;
	color:#4d4d4d;
	font-size: 30px;
	position: absolute;
	right: 21%;
	/* margin-right: -50px;
	margin-left: -60px; */
	z-index: 1;
}

.ClearIcon:hover
{
	color:#8ee4da;
}

.ClearIcon:active
{
	animation: clicked 0.2s linear;
}

/*Trending Component*/
.Trending
{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 80%;
	color:#666666;
	font-size: 16px;
	font-style: normal;
	margin-left: 20%;
}

.TrendingKeywords
{
	margin: 10px 0px 10px 10px;
	color: #999999;
	font-style: italic;
}

.TrendingKeywords:hover
{
	cursor: pointer;
	color: #8ee4da;
}

.TrendingKeywords:active
{
	animation: clicked 0.2s linear;
}

/*Greeting Component*/
.Greeting
{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.Greeting p
{
	color:#4d4d4d;
	font-size: 18px;
}

/*--Tablets--*/
@media (min-width: 768px) and (max-width: 1024px) 
{
	.SearchBar
	{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 80%;
	}

	.Icon
	{
		position: absolute;
		left: 12%;
		margin-right: 0px;
		margin-left: 0px;
	}

	.ClearIcon
	{
		position: absolute;
		right: 12%;
		margin-right: 0px;
		margin-left: 0px;
	}

	.Trending
	{
		width: 100%;
	}


    .Greeting
    {
		width: 100%;
		text-align: center;
    }
}

/*--Mobiles--*/
@media (min-width: 320px) and (max-width: 480px) 
{
	.SearchBar
	{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 80%;
	}

	.Icon
	{
		position: absolute;
		left: 12%;
		font-size: 20px;
		margin-right: 0px;
		margin-left: 0px;
	}

	.ClearIcon
	{
		position: absolute;
		right: 12%;
		font-size: 20px;
		margin-right: 0px;
		margin-left: 0px;
	}

	.Trending
	{
		width: 100%;
		font-size: 12px;
	}

    .Greeting
    {
        width: 100%;
		text-align: center;
	}  

	.Greeting p
	{
		font-size: 15px;
	}
}


@keyframes clicked {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}