/*Home Screen*/
.RootDiv
{
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}

.End
{
	margin: 20px;
	color: #4d4d4d;
}

/*Image*/
.AnimatedImage
{
	width: auto;
	height: auto;
}



/*Tablets*/
@media (min-width: 768px) and (max-width: 1024px) 
{
	.AnimatedImage
	{
		width: 600px;
		height: 600px;
	}
}

/*Mobiles*/
@media (min-width: 320px) and (max-width: 480px) 
{
	.AnimatedImage
	{
		width: 310px;
		height: 310px;
	}	
}

