body {
	margin: 0;
	padding: 0;
	font-family: "Open Sans", sans-serif;
  }

  /*--Tablets--*/
@media (min-width: 768px) and (max-width: 1024px) 
{
    body
    {
		/* display:flex;
		justify-content: center; */
    }
}

/*--Mobiles--*/
@media (min-width: 320px) and (max-width: 480px) 
{
    body
    {
        /* display:flex;
		justify-content: center; */
    }   
}
